.name {
    font-weight: bold;
}
.screen_name, time {
    color: lightgray;
}
body {
    background-color: #ebae78;
}
a {
    color: #8E623C;
}
h1, dl, footer {
    background-color: white;
    width: 80%;
    margin: 0 auto;
}
h1 {
    margin-top: 50px;
    line-height: 2em;
    text-indent: 1em;
    background-color: #8E623C;
}
h1 a {
    color: white;
    text-decoration: none;
}
dt, footer {
    padding-top: 5px;
    border-top: 1px solid #ebae78;
}
dt img {
    float: left;
    clear: left;
    margin: 10px 10px 0 10px;
}
dd {
    margin-left: 60px;
    padding-bottom: 5px;
}
footer {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 50px;
    color: white;
    background-color: #8E623C;
}
footer a {
    color: white;
}
